.login-container {
  width: flexs;
  height : flex;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.login-login1 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 44px 25px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.login-error{
  margin-bottom : 10px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  font-size : 12px;  
}

.login-c93681cea7e04c4f1aeda12ddba113d72 {
  width: 121px;
  height: 116px;
}
.login-login-headline {
  gap: 4px;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: center;
  line-height: 125.30273199081421%;
}
.login-text11 {
  color: var(--dl-color-default-contrast80light);
  width: 271px;
  height: auto;
  text-align: center;
  line-height: 134.0000033378601%;
}
.login-input-section {
  gap: 16px;
  display: flex;
  z-index: 2;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-text12 {
  color: var(--dl-color-default-secondarytextlight);
  height: auto;
  text-align: center;
  line-height: normal;
}

.login-text13 {
  left: 143px;
  color: var(--dl-color-default-contrast30light);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 134.0000033378601%;
}
.login-line1 {
  top: 11px;
  left: 0px;
  width: 126px;
  height: 1px;
  position: absolute;
}
.login-line2 {
  top: 11px;
  left: 182px;
  width: 126px;
  height: 1px;
  position: absolute;
}
.login-email-address {
  width: 336px;
  height: 76px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  margin-bottom : 5px;
}
.login-field1 {
  top: 19px;
  left: 0px;
  width: 336px;
  height: 57px;
  position: absolute;
  border-color: rgba(28, 55, 90, 0.1599999964237213);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size : 17px;
  font-weight : normal;
}
.login-text14 {
  left: 1px;
  color: var(--dl-color-default-secondarytextlight);
  width: 191px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.login-password {
  width: 336px;
  height: 76px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  margin-bottom : 5px;
}

.login-error-email{
	margin-bottom : 20px;
	font-size : 5px;
}
.login-field2 {
  top: 19px;
  left: 0px;
  width: 336px;
  height: 57px;
  position: absolute;
  border-color: rgba(28, 55, 90, 0.1599999964237213);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size : 17px;
  font-weight : normal;
 
}

.login-text15 {
  left: 1px;
  color: var(--dl-color-default-secondarytextlight);
  width: 191px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: normal;
}
.login-remember-me-forgot-password {
  gap: 98px;
  display: flex;
  align-items: flex-start;
  margin-top : 25px;
}
.login-rememberme {
  width: 125px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.login-checkbox {
  top: 1px;
  left: 0px;
  width: 16px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.login-unchecked {
  top: -1px;
  left: -1px;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 4px;
}
.login-checkbox:checked {
  top: -0.9999943971633911px;
  left: -1.0000019073486328px;
  width: 18px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(22, 118, 243, 1);
}
.login-checkmark {
  top: 2.249998092651367px;
  left: 2.333333969116211px;
  width: 13px;
  height: 12px;
  position: absolute;
}
.login-text16 {
  left: 27px;
  color: var(--dl-color-default-contrast70light);
  width: 98px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 122.00000286102295%;
}
.login-text17 {
  color: rgba(51, 51, 51, 1);
  height: auto;
  text-align: center;
  line-height: normal;
}
.login-buttons {
  gap: 64px;
  display: flex;
  z-index: 3;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-login2 {
  gap: 4px;
  width: 336px;
  height: 56px;
  display: flex;
  padding: 8px 14px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-default-primarylight);
}
.login-text18 {
  color: var(--dl-color-default-primarycontrast);
  height: auto;
  text-align: center;
  line-height: normal;
}
.login-donthaveanaccount {
  gap: 2px;
  display: flex;
  z-index: 4;
  align-items: flex-start;
}
.login-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: center;
  line-height: 122.00000286102295%;
}
.login-text20 {
  color: var(--dl-color-default-primarytextlight);
  height: auto;
  text-align: center;
  line-height: normal;
}
